* {
  margin: 0;
  padding: 0; }

.rec_btn {
  width: 310px;
  height: 70px;
  background: -webkit-gradient(linear, left top, left bottom, from(#26e0f8), to(#0066ff));
  background: linear-gradient(#26e0f8, #0066ff);
  border-radius: 2px;
  display: block;
  margin: 0 auto;
  font-family: "Roboto";
  font-size: 21px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 3.5;
  cursor: pointer; }

.orange_line {
  margin: 0 auto;
  margin-top: 20px;
  width: 220px;
  height: 2px;
  background-color: orange; }

header {
  height: 800px;
  background: url("../img/Backgrounds/BgTop.jpg") center center/cover no-repeat; }
  header .logo_pic {
    text-align: center;
    padding-top: 20px; }
  header .logo_descr {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 5px; }
  header h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
    margin-top: 40px; }
  header .easy_line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px; }
    header .easy_line h2 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 900;
      font-size: 80px;
      line-height: 80px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-left: 20px;
      margin-right: 20px; }
    header .easy_line .white_line {
      height: 2px;
      width: 300px;
      background-color: white; }
  header h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
    margin-top: 20px; }
  header .top_descr {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px; }
    header .top_descr span {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 21px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color: #F9BF3B; }
  header .rec_btn {
    margin-top: 80px; }
  header .footer_descr {
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top: 70px; }
  header .footer_arrow {
    text-align: center;
    margin: 0 auto;
    margin-top: 7px; }

.Work_girl {
  min-height: 555px;
  max-height: 555px;
  max-width: 100%; }
  .Work_girl .girl_img img {
    position: absolute;
    display: block;
    z-index: -1;
    min-height: 555px;
    max-height: 555px; }
  .Work_girl .main_descr {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #299CBD;
    display: inline-block;
    -webkit-transform: translate(600px);
            transform: translate(600px);
    margin-top: 100px; }
  .Work_girl .learn_descr {
    max-width: 750px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
    -webkit-transform: translate(600px);
            transform: translate(600px);
    word-wrap: break-word;
    margin-top: 30px; }
    .Work_girl .learn_descr p {
      margin-top: 10px; }
    .Work_girl .learn_descr span {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 27px;
      color: #4A4A4A; }

.before_learn {
  height: 450px;
  background-image: url("../img/Backgrounds/LaptopAndCoffee.jpg"); }
  .before_learn .descr {
    padding-top: 85px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #EFEFEF; }
  .before_learn .six_round {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .before_learn .six_round .round_item {
      margin-right: 10px;
      margin-left: 10px;
      width: 15%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; }
      .before_learn .six_round .round_item .round {
        height: 110px;
        width: 110px;
        border-radius: 50%;
        background-color: #B4E2FF;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .before_learn .six_round .round_item .descr_item {
        margin-top: 10px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        color: #EFEFEF; }

.gift {
  height: 630px;
  background-color: #EFEFEF;
  padding-top: 85px; }
  .gift .gift_box {
    display: block;
    margin: 0 auto; }
  .gift .gift_descr {
    max-width: 75%;
    margin: 0 auto;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;
    margin-top: 45px; }
  .gift .rec_btn {
    margin-top: 50px; }

.what_wait {
  height: 600px;
  background-color: #EFEFEF;
  padding-top: 85px; }
  .what_wait h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525; }
  .what_wait .orange_line {
    margin-top: 20px; }
  .what_wait h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 20px; }
  .what_wait .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 45px; }
    .what_wait .wrapper .laptop_item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 340px; }
      .what_wait .wrapper .laptop_item .laptop_img {
        max-width: 340px;
        max-height: 200px; }
      .what_wait .wrapper .laptop_item .laptop_descr {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        text-align: center;
        color: #4A4A4A;
        margin-top: 25px;
        height: 90px; }
    .what_wait .wrapper .center_item {
      margin-left: 48px;
      margin-right: 48px; }

/*# sourceMappingURL=style.css.map */